{% extends 'layout.html' %}
{% block content %}
<div>
    {% for it in items %}
    <div class="card mb-4">
        <div class="card-body">
            <div class="d-flex">
                <div class="w-100">
                    <div class="d-flex">
                        <img src="{{ it.product.thumbnail.url }}" class="w-25"/>
                        <div class="w-75">
                            <h3>{{ it.product.name }}</h3>
                            <p>{{ it.product.description }}</p>
                        </div>
                    </div>
                </div>
                <div class="">
                    <a href="/remove_from_cart/{{ it.product.sku }}" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="text-end mt-4">
        <a href="/checkout" class="btn btn-success">Pagar</a>
    </div>
</div>
{% endblock %}