{% extends "layout.html" %}
{% block content %}
<div class="d-flex flex-row">
    <div class="w-100 pe-4">
        <div class="card">
            <div class="card-header">
                <h5>Detalle de la orden</h5>
            </div>
            <table class="table table-bordered table-striped">
                <tbody>
                    {% for it in items %}
                    <tr>
                        <td>{{ it.product.name }}</td>
                        <td>{{ it.price }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <strong>Total</strong>
                        </td>
                        <td>
                            {{ total_order }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="w-100 ps-4">
        <div class="card">
            <div class="card-header">
                <h5>Detalles del cliente</h5>
            </div>
            <div class="card-body">
                <p><strong>Nombres: </strong>{{ user.first_name }}</p>
                <p><strong>Apellidos: </strong>{{ user.last_name }}</p>
                <p><strong>Dirección Facturación: </strong>{{ customer.billing_address }}</p>
                <p>
                    <strong>Dirección Envío: </strong>
                    <textarea class="form-control" name="shipping_address" form="endForm">{{ customer.shipping_address }}</textarea>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="text-end mt-4">
    <form id="endForm" action="/checkout_end" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Pagar y enviar</button>
    </form>
</div>
{% endblock %}