{% extends 'layout.html' %}

{% block content %}

<div class="d-flex">
    <div class="w-100 ">
        <img src="{{ product.image.url }}" />
    </div>
    <div class="w-100 d-flex flex-column">
        <h1>{{ product.name }}</h1>
        <p>{{ product.description }}</p>
        <a href="/add_to_cart/ {{ product.sku }}" class="btn btn-primary">Anadir a carrito</a>
    </div>
</div>
<div class="d-flex flex-column mt-4 pt-4">
    <h4>Ver también:</h4>
    <div class="d-flex flex-wrap row-cols-4">
        {% for extra in extras %}
        <div class="col p-2">
            <div class="card">
                <a href="/product/{{ extra.sku }}">
                    <img src="{{ extra.thumbnail.url}}" alt="">
                </a>
                <div class="card-body">
                    <h3>{{ extra.name }}</h3>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}