{% extends 'layout.html' %}
{% block content %}
<section class="d-flex">
<form action="/sign_in" method="POST" 
            class="w-50  gap-3 d-flex flex-column" style="margin: 0px auto;">
            {% csrf_token %}
<div class="form-group d-flex flex-column">
<label>Ingrese email:</label>
<input type="email" class="form-control" name="username" required >
</div>
<div class="form-group d-flex flex-column">
<label>Ingrese Contraseña:</label>
<input type="password" class="form-control" name="password" required >
</div>
<div class="form-group d-flex justify-content-center">
<button type="submit" class="btn btn-primary">Iniciar sesion</button>
</div>
</form>
</section>
{% endblock %}
tiene menú contextual