.container-fluid{
    padding: 0px;
    margin: 0px;
}

.container-fluid > main{
    min-height: 75vh!important;
    padding: 32px 16px 32px 16px;
}

.d-flex .w-100 img {width: 100%;}
.card a img {width: 100%;}

.bg-dark {background-color: #003285;}
.bg-light {background-color: #2A629A;}
.bg-orange {background-color: #FF7f3E;}
.bg-yellow {background-color: #FFDA78;}

.bg-dark-i {background-color: #003285 !important;}
.bg-light-i {background-color: #2A629A !important;}
.bg-orange-i {background-color: #FF7f3E !important;}
.bg-yellow-i {background-color: #FFDA78 !important;}

.text-dark {color: #003285;}
.text-light {color: #2A629A;}
.text-orange {color: #FF7F3E;}
.text-yellow {color: #FFDA78;}